.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
html, body {
  height:100%;
} 
body {
  background-color: #080b15;
  background-image: url(./images/allTheStars.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}